#kbdx-input {
  white-space: pre-wrap;
  font-family: monospace;
}

#kbdx-input > * {
  padding-top: 0px !important;
  padding-left: 4em !important;
}

.editor-line-number {
  color: var(--line-number-color);
  text-align: right;
  width: 3em;
  margin-right: 0.5em;
  font-family: monospace;
  position: absolute;
  left: 0;
} 