#app {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

textarea[name='kbdx-input'] {
  height: 90%;
  width: 100%;

  white-space: pre-wrap;
  font-family: monospace;
}

#compilation-output {
  max-height: inherit;

  display: grid;
  grid-template-rows: 50% 50%;

  white-space: pre-wrap;
  font-family: monospace;
}

#diagnostics {
  max-height: inherit;
  overflow: auto;
}

#kbd-output {
  max-height: inherit;
  overflow: auto;
}
