#app {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

  font-size: 1.2rem;
}

#user-input {
  max-height: inherit;
  background-color: #f0f0f0;
}

#user-input > .input-wrapper {
  max-height: inherit;
  overflow: scroll;
  position: relative;
  display: flex;
}

#kbdx-input {
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  font-family: monospace;
}

#kbdx-input > * {
  /* need to override react-simple-code-editor injected styles */
  padding-left: 60px !important;
}

#compilation-output {
  max-height: inherit;

  display: grid;
  grid-template-rows: 1fr 1fr;

  white-space: pre-wrap;
  font-family: monospace;
}

#diagnostics {
  max-height: inherit;
  overflow: auto;
}

#kbd-output {
  max-height: inherit;
  overflow: auto;
}

.input-wrapper {
  max-height: inherit;
  overflow: scroll;
  position: relative;
  display: flex;
}

.line-numbers {
  padding: 10px 0;
  user-select: none;
}

.editor-line-number {
  color: #6d6d6d;
  text-align: right;
  width: 3em;
  margin-right: 0.5em;
  font-family: monospace;
  position: absolute;
  left: 0;
}
